@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('/fonts/Torus-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}